extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post",action="/admin/list")
        .form-group
          label.col-sm-3.control-label(for="inputTitle") 电影名字
          .col-sm-10
            input#inputTitle.form-control(type="text",name="move[title]",value="#{movie.title}")
        .form-group
          label.col-sm-3.control-label(for="inputDirector") 电影导演
          .col-sm-10
            input#inputDirector.form-control(type="text",name="move[director]",value="#{movie.director}")
        .form-group
          label.col-sm-3.control-label(for="inputCountry") 电影国家
          .col-sm-10
            input#inpuCountry.form-control(type="text",name="move[country]",value="#{movie.country}")
        .form-group
          label.col-sm-3.control-label(for="inputLanguage") 语种
          .col-sm-10
            input#inputLanguage.form-control(type="text",name="move[language]",value="#{movie.language}")
        .form-group
          label.col-sm-3.control-label(for="inputPoster") 海报地址
          .col-sm-10
            input#inputPoster.form-control(type="text",name="move[poster]",value="#{movie.poster}")
        .form-group
          label.col-sm-3.control-label(for="inputSummary") 电影简介
          .col-sm-10
            input#inputSummary.form-control(type="text",name="move[aummary]",value="#{movie.summary}")                    